.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
}

.viz_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2rem;
}

.viz_container .paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100%;
}

.viz_container .paragraph p {
  max-width: 60ch;
}

.viz_container .paragraph h2 {
  margin-bottom: 1rem;
  text-align: left;
  margin: 0;
  width: 100%;
}

.viz_container .widget {
  justify-self: center;
}

footer {
  height: 5%;
}

.widget {
  border: 1px solid #000;   /* width + style + color */
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 500px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interactive-svg {
  width: 80%;
  transition: transform 0.3s ease;
}

.hover-circle {
  fill: #3498db;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.hover-circle:hover {
  fill: #e74c3c;
}

.fullscreen-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
}

.site-footer {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
  border-top: 1px solid #d1d5db;
  color: white;
  font-size: 0.875rem;
  background-color: #282523;
  text-align: center;
}

.site-footer p {
  margin: 0;
}

@media (max-width: 1024px) {
  .viz_container {
    grid-template-columns: 1fr;
  }

  .widget {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}